.product-item {
 
}

.product-item-content {
    border: 1px solid var(--surface-d);
    border-radius: 3px;
    margin: .3rem;
    text-align: center;
    padding: 2rem 0;
}

.product-image {
    width: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}



.mat-expansion-panel{
    box-shadow: none;
}

 ::ng-deep .mat-expansion-panel-body{
        padding: 0px 10px 0px  !important;
}

.mat-expansion-panel-header.mat-expanded{
    height: none;
}

.fixed-hieght-for-item{
   height: 40px !important; 
}

/* a:focus{
    background-color: #3F51B5 !important;
} */

.mat-list-item:focus{
    color: #3F51B5;
    border: 1px solid transparent;
    border-radius: 8px;
    box-shadow: 0 3px  2px gainsboro;
  }

  .box-shadow-nav{
    box-shadow: 0 2px 12px gray;
  }
 

  .mat-expansion-panel ,::ng-deep .mat-drawer-inner-container {
      background-color: #F5F5F5;
  }


  .mat-toolbar.mat-primary{
      background-color:#0080FF ;
  }
  .mat-toolbar-single-row{
      height: 55px;
  }

  .item-font-size{
      font-size: 20px;
  }

.width-aside-nav{
    width: 15%;
} 
@media only screen and (max-width: 1024px) {
    .width-aside-nav{
        width: 20%;
    } 
 
    .h2-font-size-mobile{
        font-size: large;
    }
}

@media only screen and (max-width: 768px) {
    
    .h2-font-size-mobile{
        font-size: medium;
    }
}

@media only screen and (max-width: 600px) {
    .width-aside-nav{
        width: 35%;
    }
    .p-none-margin-mobile{
        margin-bottom: 0px;
    } 
    .h2-font-size-mobile{
        font-size: 14px;
        margin-top: 0px ;
        margin-bottom: 0px;
        padding-top: 0px !important;
    }
}
